{% extends 'layout.html' %}

{% block title %}Resources{% endblock %}
{% block content_title %}Available Resources{% endblock %}

{% block content %}
    <h3>Resource Listings</h3>
    <ul>
        {% for resource in resources %}
            <li>
                <strong>Title:</strong> {{ resource['title'] }}<br>
                <strong>Description:</strong> {{ resource['description'] }}<br>
                <strong>Category:</strong> {{ resource['category'] }}<br>
                <strong>Availability:</strong> {{ resource['availability'] }}<br>
                <strong>Posted by:</strong> {{ resource['user_name'] }}<br>
                <strong>Posted on:</strong> {{ resource['date_posted'] }}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
